<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
      <p>
          I'm a first-year at
          <a class="underline-link" href="https://www.utoronto.ca/" target="_blank">UofT</a> learning as much as I can about physics, mathematics, and computer science. I recently graduated from
          <a class="underline-link" href="https://www.shadysideacademy.org/" target="_blank">Shady Side Academy</a> after completing 3 awesome projects at
          <a class="underline-link" href="https://ensenaporcolombia.org/" target="_blank">Teach for Colombia</a>,
          <a class="underline-link" href="https://qosf.org/" target="_blank">Quantum Open Source Foundation</a>,
          <a class="underline-link" href="https://futura.work/" target="_blank">Futura</a>, and
          <a class="underline-link" href="https://sip.ucsc.edu/" target="_blank">UC Santa Cruz</a>.
      </p>

    <p>
      I am passionate about developing for a purpose, I enjoy bridging the gap between different fields and social impact &mdash; combining my technical knowledge
      with my passion for building stronger democracies. My goal is to always strenghten democratic processes through
      cryptography, machine learning, and quantum computing.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing soccer, reading,
      or day dreaming.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
