<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="martijaram.github.io" target="_blank">
          <img src="{{site.baseurl}}/img/featured/building.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="martijaram.github.io" target="_blank">This page is building</a>
        </div>
        <p>Wait some time. I still have school homework, university stuff, and other things to worry about.</p>
      </figcaption>
    </div>
  </div>
</section>
